@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Noto+Sans+KR&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 4000px;
    position: relative;
}

/* ===================================== header ======================*/
header {
    z-index: 100;
    top: 0;
    position: sticky;
    background-color: white;
}

.logo {
    width: 120px;
    height: 63px;
    cursor: pointer;
    margin: 0 5px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.nav-item a {
    color: gray !important;
}

.nav-item a:hover {
    color: rgba(15, 180, 209) !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(15, 180, 209) !important;
}

/* ================================================ */
/* ============= Carousel ========================= */

.carousel-inner img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* ==================================================== */
/* ====================== About us ==================== */
.about-us {
    
    width: 100%;
    position: relative;
    margin: 60px 0;
}

.about-header {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 80px;
    font-family: 'Style Script';
    letter-spacing: 4px;
    position: relative;
}

/*.about-us hr {
    width: 80%;
    height: 1px;
    margin: 20px auto;
    background-color: rgba(73, 160, 187, 0.664);
}*/
.about-us .about-container{
    width: 100%;
    height: 100%;
    margin: 80px auto;
}

.about-us .about-img {
    width: 100%;
    max-height: 850px;
}

.about-us .about-img img {
    width: 100%;
    max-height: 450px;
    object-fit: contain;
}

.about-us .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us .about-content h2 {
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about-us .about-content p {
    font-family: 'Dosis', sans-serif;
}
/* ======================================================*/
/*=============== GALLARY ===============================*/
.gallary {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid rgba(116, 116, 116, 0.445);
}

.gallary .nav {
    margin: 10px auto;
    justify-content: center;
    border-bottom: 1px solid rgba(92, 92, 92, 0.445);
}

.gallary .nav .active {
    background-color: rgba(105, 162, 177, 0.541);
    border: 1px solid rgba(92, 92, 92, 0.445);
    border-bottom: 0;
}

.gallary-img-container {
    width: 100%;
}

.gallary .nav-item a {
    color: black !important;
}

.gallary .nav-item a:hover {
    color: black !important;
    background-color: rgba(105, 162, 177, 0.541);
    border: 1px solid rgba(92, 92, 92, 0.445);
}

.gallary-img-container .content{
    padding: 5px 3px;
}

.gallary-img-container .content:hover{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    background-color: rgba(153, 175, 197, 0.472);
}

.gallary-img-container .gallary-img {
    width: 100%;
    min-height: 100%;
    padding: 2px;
    object-fit: contain;
}

.gallary-img-container img {
    transition: all 0.2s ease-out;
}



.gallary-img-container h4 {
    margin: 3px;
    padding: 10px 0 0 0;
    text-align: center;
}

.gallary-img-container p {
    font-size: 12px;
    margin: 3px;
    padding: 5px;
}

.gallary-img-container  .cart-btn {
    width: 100%;
    height: 40px;
    margin: 3px;
    padding: 5px;
    border: 1px solid #DDD;
    background-color: rgb(21, 179, 228);
}

.gallary-img-container  .cart-btn:hover {
    width: 100%;
    height: 40px;
    border: 1px solid #DDD;
    background-image: -webkit-linear-gradient(top, #3fa6ce, #408caf);
}

/*=====================================================================================*/
/*========================== CONTACT US ==============================================*/
.contact-us{
    margin: 10px auto;
    padding: 7px;
}
.contact-us h1 {
    text-align: center;
}

.contact-us .contact-form{
    margin: 10px;
    padding: 7px;
}
.contact-us .contact-form h4{
    font-size: 32px;
}

.contact-us .contact-form .form-btn{
    width: 100px;
    height: 30px;
    border: 0;
    background-color: rgb(21, 179, 228);
    transition: all 0.2s ease-out;
}
.contact-us .contact-form .form-btn:hover{
    width: 102px;
    height: 32px;
    border: 1px solid rgb(131, 126, 126);
    background-image: -webkit-linear-gradient(top, #3fa6ce, #408caf);
}

/*====================================================================*/
/*================== Footer ==========================================*/
footer{
    margin: 10px auto 0;
    padding: 15px 0 0 0;
    background-color: rgb(129, 185, 202);
}
footer h4 {
    font-size: 20px;
}
footer .footer-about p{
    color: rgb(78, 78, 78);
}
footer ul {
    list-style: none;
}
footer ul li a {
    color: rgb(78, 78, 78);
    text-decoration: none !important;
}
footer ul li a:hover {
    font-size: 18px;
    color: rgb(0, 67, 83);
    text-decoration: none !important;
}

footer .footer-hr{
    width: 100%;
    background-color: rgb(78, 78, 78);
}

/*=======================================================================*/














/*=============== Media ======================*/
@media (max-width: 991px) {

    .my_carousel .carousel-inner .carousel-item .my-img {
        background-size: cover;

    }

    ..my_carousel .carousel-inner .carousel-item .my-img img {
        background-size: cover;
    }

    /*=============== about us ====================*/
    .about-us {
        width: 100%;
       height: auto;
        position:relative;
        margin: 50px 0;
    }
    .about-us .about-container{
        width: 100%;
        height: 100%;
        margin: auto auto;
    }

    .about-us .about-content {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }

    .about-us .about-content h2 {
        text-align: center;
        font-size: 20px;
    }

    .about-us .about-content p {
       font-size: 14px;
    }

    /*=========== gallary ====================*/
    .gallary {
        height: auto;
    }
    .gallary .nav {
        width: 100%;
        margin: 10px auto;
        justify-content: space-between;
    }
}